
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #263238;
    font-size: 2.873em;
    text-align: center;
    margin-top: 1.5625em;
}

a {
    text-decoration: none;
    color: #666666;
    font-weight: 400;
}
p.greeting {
    font-size: 1.5em;
    color: rgba(38, 50, 56, 0.4);
    text-align: center;
}

.CreatePlace .container {
    width: 100%;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 480px);
    grid-gap: 0;
    justify-content: center;
}

.container .page1 {
   /*todo*/
    background-size: cover;
    background-position: 10%;
    max-width: 480px;
    width:480px;
    height: 500px;
    padding: 3.15em 2.5em;
    box-shadow:inset -12px 0px 17px rgba(38, 50, 56, 0.5);
    position: relative;
}
.container .page2 {
    overflow-y: scroll;
    background-color: white;
    max-width: 480px;
    width:480px;
    height: 500px;
    padding: 3.15em 2.5em;
    box-shadow: 2px 1px 7px rgba(38, 50, 56, 0.5);
    position: relative;
}

.dp-input{
    margin-top:5px;
}

.dropdown-toogle {
    margin-top: -5px;
    background-color: whitesmoke;
}

/* SLider*/
/* SLider*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

.tab-nav {
    background-color: transparent;
}

.place-tab-div {
    overflow-y: scroll;
    height: 100vh;
    border: solid 1px grey;
    padding: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(255, 255, 255, 0.4);
}

    .place-tab-div::-webkit-scrollbar {
        width: 0 !important
    }   




