.front-card {
    left: 50%;
    margin-left: -45vw; 
    height: 100vh;
    width: 90vw;
    border: solid 1px grey;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.5);
}

.back-card {
    height: 100vh;
    width: 90vw;
    left: 50%;
    margin-left: -45vw;
    border: solid 2px white;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
}
.front-footer {
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    color: black;
    border-radius: 30px;
}
.back-footer {
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    padding: 0;
    align-items:center;
}
.back-footer-btn {
    padding: 10px;
    margin-bottom: 0;
}
.card-footer:last-child {
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}
.card-header:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.back-footer-btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
}
.back-footer-btn.last {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.front-footer:hover {
    background-color: rgb(255, 255, 255, 9);
}
.back-card-body{
    overflow-y:scroll;
}
    .back-card-body::-webkit-scrollbar {
        width: 0 !important
    }
/*place card*/
@font-face {
    font-family: Raleway-Light;
    src: url(../../fonts/Raleway/Raleway-Light.ttf);
}

.place-card {
    width: 252px;
    color: black;
    border: solid 1px white;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 0;
    height: 500px;
    margin-top:20px;
}

.place-card-back {
    height: 500px;
    width: 252px;
    color: white;
    border: solid 1px white;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 0;
}

.place-back-card-body {
    font-family: Raleway-Light;
    font-size: 22px;
    padding-top: 130px;
}

.place-card-info {
    max-height: 180px;
    overflow-y: scroll;
}

.place-card-info::-webkit-scrollbar {
    width: 0 !important
}

.place-card .card-body {
    padding: 0;
}

.place-header:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.place-card-header {
    text-align: center;
    color: black;
    border-radius: 30px;
    font-family: Raleway-Light;
    font-size: 22px;
}
