@font-face {
    font-family: NEOTERICc;
    src: url('../../../fonts/Neoteric/NEOTERICc - Regular DEMO VERSION.ttf');
}

h3 {
    margin-top:0;
    font-size:37px;
    font-family: NEOTERICc;
}
.personal-card {
    left: 50%;
    margin-left: -45vw;
    height: 100vh;
    width: 90vw;
    border: solid 1px grey;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.5);
}
.personal-card-header:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6);
}
.personal-card-body{
    overflow-y:scroll;
}
.personal-card-body::-webkit-scrollbar {
    width: 0 !important
}

/* Travel List Item*/

.list-group-item {
    margin-top: 20px;
    background-color: rgb(255, 255, 255, 0.75);
   
    border: solid 1px grey;
}
.list-group-item:hover {
        background-color: rgb(255, 255, 255, 1);
 }