a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
 }

#NavMenu {
    position:absolute;
    box-shadow: 12px .95rem .95rem rgba(0, 0, 0, .45);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: Raleway-Light;
    src: url(../../fonts/Raleway/Raleway-Light.ttf);
}

h2 {
    font-family: Raleway-Light;
}
.btn {
    margin-top:5px;
    margin-left:10px;
    font-size:18px;
    color:black;
    border-color:black;
}
.btn:hover {
    background-color: black;
    border-color: black;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}


